# Pandas Review Challenge

To review some basic concepts, attempt to perform these basic Pandas tasks on your own and then watch the walkthrough video to check your solutions.

Once your assignment is complete and you have watched the solution video to check your answers, make sure that you save it as `pandas_review` and upload it to CodeGrade to get credit for your work.

Import `numpy as np`, `pandas as pd`, and check your pandas version.

In [ ]:
import numpy as np 
import pandas as pd
print(pd.__version__) # your version may be different

# set display columns - Do not change or CodeGrade may not function correctly
pd.set_option('display.max_columns', None)

## Series

**Q1:** Create a Pandas Series object called `Q1` from the following `arr` array.

In [ ]:
arr = np.array([4,8,-3,1])

### ENTER CODE HERE ###

**Q2:** Create a Pandas Series object called `Q2` from the above `arr` array with an index of `a`, `b`, `c`, `d`.

In [ ]:
### ENTER CODE HERE ###

**Q3:** Index the `c` instance for the `Q2` Series and save it as `Q3`.

In [ ]:
### ENTER CODE HERE ###

**Q4:**  Make a copy of the `Q2` Series and call it `Q4`. Change the `c` instance in `Q4` to `0`.

In [ ]:
# make a copy
Q4 = Q2.copy()

### ENTER CODE HERE ###

**Q5:** Filter all instances in `Q4` that are greater than `2` and save this as `Q5`.

In [ ]:
### ENTER CODE HERE ###

**Q6:** Using a Python dictionary, create the following as a Series called `Q6` using the state as the index.
```
 Wyoming      581000
 Vermont      623000
 DC           714000
 Alaska       724000
 North Dakota 770000
```

In [ ]:
states = {'Wyoming': 581000,'Vermont': 623000,'DC': 714000,
          'Alaska': 724000,'North Dakota': 770000}

### ENTER CODE HERE ###

**Q7:** Create a Series called `Q7` using the `states` dictionary above. Use the list `states2` below as the index. Take a look at the new Series. What do you notice?

In [ ]:
states2 = ['Alaska','DC','North Dakota','South Dakota','Wyoming']

### ENTER CODE HERE ###

**Q8:** What do you think will happen if we add `Q6` and `Q7` together? Add the two Series together and call the new Series `Q8`. Did it do what you expected?

In [ ]:
### ENTER CODE HERE ###

**Q9:** Perform the following tasks:
- make a copy of the `Q8` Series and call it `Q9` 
- Drop the null values from `Q9`. 
- Add a `name` attribute for the Series object as `population`. 
- Add a `name` attribute for the index as `state`.

In [ ]:
Q9 = Q8.copy()

### ENTER CODE HERE ###

## DataFrame

**Q10:** Using the below Python dictionary, create a DataFrame called `Q10`.

In [ ]:
# code will vary from student to student
data = {'book':['The Way of Kings','A Game of Thrones','The Hobbit',
                "Harry Potter and the Sorcerer's Stone",'The Lion, the Witch, and the Wardrobe'],
        'year_published': [2010,1996,1937,1997,1950],
        'amazon_rating': [5,4.5,5,5,5]}
    
### ENTER CODE HERE ###

**Q11:** Make a copy of the `Q10` DataFrame and call it `Q11`.  Add a fourth column called `copies_owned` and assign a scalar value of `1` to every row.

In [ ]:
Q11 = Q10.copy()

### ENTER CODE HERE ###

**Q12:** Make a copy of `Q11` and call it `Q12`. Remove the fourth column called `copies_owned` for the `Q12` DataFrame.

In [ ]:
Q12 = Q11.copy()

### ENTER CODE HERE ###

**Q13:** Create a DataFrame called `Q13` using the below nested dictionary of dictionaries. (Note: outer keys are interpreted as columns, inner keys as row indices)

In [ ]:
pop = {'Nevada':{2001: 2.4, 2002: 2.9},
      'Ohio': {2000:1.5, 2001: 1.7, 2002: 3.6}}

### ENTER CODE HERE ###

**Q14:** Swap the columns and rows of `Q13` by using the transpose method `.T` and save this as `Q14`.

In [ ]:
### ENTER CODE HERE ###

**Q15:** Change the columns in the `Q14` DataFrame to be in year order (earlier to later) and save this as `Q15`.

In [ ]:
### ENTER CODE HERE ###

**Q16:** Index only `Nevada` in the `Q15` DataFrame and save this as `Q16`.

In [ ]:
### ENTER CODE HERE ###

**Q17:** Select the `2001` column from the `Q15` DataFrame and save this as `Q17`.

In [ ]:
### ENTER CODE HERE ###

**Q18:**  Select the `Ohio` row and the `2001` and `2002` columns from `Q15` and save this as `Q18`.

In [ ]:
### ENTER CODE HERE ###

**Q19:** Load the `employees` DataFrame. Filter only the employees that make above $90,000 and save this as `Q19`.

In [ ]:
table =  {'name': ['John', 'Jane', 'Billy', 'Tracy'],
         'age': [25, 27, 42, 31],
          'gender': ['M','F','M','F'],
         'profession': ['Developer', 'Analyst', 'Admin', 'Data Scientist'],
         'salary':[100000, 80000, 75000, 110000]
         }

employees = pd.DataFrame(table)
employees

In [ ]:
### ENTER CODE HERE ###

**Q20:** Select only the names of the employees that make under $90,000 and save this as `Q20`.

In [ ]:
### ENTER CODE HERE ###

**Q21:** Select only the names of the employees that make under $90,000 and are over 30 years old.  Save this as `Q21`.

In [ ]:
### ENTER CODE HERE ###

**Q22:** Our company has grown, and we have hired three new employees. Create a new DataFrame called `Q22` that adds these employees (`new_hires`) to the original DataFrame `employees`. Make sure that the index for the new DataFrame is labeled as `0` - `n-1`.

In [ ]:
new_hires = {'name': ['Emily','Lukas','Janelle'],
            'age': [22, np.nan, 52],
             'gender': ['F','M','F'],
            'profession': ['Project Manager','ML Engineer','CIO'],
            'salary': [np.nan,135000,230000]}

### ENTER CODE HERE ###

**Q23:**  Create a copy of `Q22` and save it as `Q23`.  Drop all rows that contain missing values from the `Q23` DataFrame.

In [ ]:
Q23 = Q22.copy()

### ENTER CODE HERE ###

**Q24:** Make a copy of the `Q22` DataFrame and save it as `Q24`.  Add a new column called `departments` to the `Q24` DataFrame using the list below.

In [ ]:
departments = ['IT','IT','Administration','IT','Communications','IT','Executive']

Q24 = Q22.copy()

### ENTER CODE HERE ###

**Q25:** Make a copy of the `Q24` DataFrame and save it as `Q25`.  You heard back from HR that Emily's salary should equal the employee with the lowest salary. Fill this missing value in `Q25` with the minimum salary (use `fillna()` and `min()` instead of hard coding the salary).

In [ ]:
Q25 = Q24.copy()

### ENTER CODE HERE ###

**Q26:** Make a copy of `Q25` and save it as `Q26`.  Add Lukas' age of `54` to the `Q26` DataFrame.

In [ ]:
Q26 = Q25.copy()

### ENTER CODE HERE ###

**Q27:** Sort the `Q26` DataFrame by the `age` column from youngest to oldest employee and save this as `Q27`.

In [ ]:
### ENTER CODE HERE ###

**Q28:** Sort the `Q26` DataFrame in descending order by `salary` and save this as `Q28`.

In [ ]:
### ENTER CODE HERE ###

**Q29:** Using `value_counts()`, how many employees in the `Q28` DataFrame does each department have?  Save this as `Q29`.

In [ ]:
### ENTER CODE HERE ###

**Q30:** Make a copy of the `Q28` DataFrame and save it as `Q30`.  Rename the `name` column in `Q30` to `employee_name`.

In [ ]:
Q30 = Q28.copy()

### ENTER CODE HERE ###

Good work!